<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jrhapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.LottieActivity"
            android:exported="false" />
        <activity android:name=".ui.LiveDataActivity" />
        <activity android:name=".ui.MessageBarrierActivity" />
        <activity android:name=".ui.RxActivity" />
        <activity android:name=".ui.ImageLoderMainActivity" />
        <activity android:name=".ui.MotionMainActivity" />
        <activity
            android:name=".ui.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SkillsMainActivity" />
        <activity android:name=".flowtest.FlowActivity" />
        <activity android:name=".ui.KtxActivity" />
        <activity android:name=".ui.MainLiveDataActivity" />
        <activity android:name=".ui.CoroutineActivity" />
        <activity android:name=".ui.TimerActivity" />
        <activity android:name=".ui.MotionActivity" />
        <activity android:name=".ui.FastjsonActivity" />
        <activity android:name=".ui.transform.PosterDetailActivity" />
        <activity android:name=".ui.transform.TransformationLayoutActivity" />
        <activity android:name=".ui.SpringActivity" />
        <activity android:name=".ui.FrescoActivity" />
        <activity
            android:name=".ui.AtmosphereAct"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".ui.BreathActivity" />
        <activity android:name=".ui.ShadowActivity" />
        <activity android:name=".ui.RecyclerviewVpActivity" />
        <activity android:name=".ui.ChipsActivity" />
        <activity android:name=".ui.MaterialShapeDrawableActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>